    <!--Navigation Bar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" routerLink="/"
        ><img
          src="Assets/logo.png"
          alt="Logo"
          class="img-fluid"
          width="50"
          height="50"
      /></a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/"
              ><i class="fas fa-home"></i> Home
              </a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about"
              ><i class="fas fa-book-reader"></i> About</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/projects"
              ><i class="fas fa-code"></i>Projects</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/services"
              ><i class="fas fa-award"></i> Services</a
            >
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/contact"
              ><i class="far fa-comment-alt"></i> Contact</a
            >
          </li>
        </ul>
      </div>
    </nav>