<% include ./partials/header.ejs %>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><% title %></h1>
    <div class="media">
      <img src="Assets/picture.jpg" class="mr-3" alt="Profile picture" />
      <div class="media-body">
        <h5 class="mt-0">Shiv Rana</h5>
        I am Software Engineer student who is eager to gain the knowledege.
        Throughout my program I learned alot of new things , new languages and
        new platform that helped me to know more about the world where we are
        heading towards. I live to code alot and my favorite and the language
        that i learned first is Java although i started with C but i enjoyed
        learning Java.
      </div>
    </div>
    <a class="btn btn-primary" href="Assets/Documents/Resume.pdf" role="button"
      ><i class="far fa-file"></i> Resume</a
    >
  </div>
</div>
<% include ./partials/footer.ejs %>
