<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">{{title}}</h1>
      <h2>Programming Languages</h2>
      <!-- Adding a collpsable button-->
      <div>
        <p>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#collapseExample"
            aria-expanded="false"
            aria-controls="collapseExample"
          >
            <i class="fas fa-eye"></i> Show All
          </button>
        </p>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            <div>
              <!-- Programming Div-->
              <br />
              <ul class="list-unstyled">
                <li class="media">
                  <img
                    src="assets/Services/C.png"
                    class="mr-3"
                    alt="C"
                    width="64"
                    height="64"
                  />
                  <div class="media-body">
                    <h5 class="mt-0 mb-1">C</h5>
                    C is a high-level and general-purpose programming language
                    that is ideal for developing firmware or portable
                    applications..
                  </div>
                </li>
                <li class="media my-4">
                  <img
                    src="assets/Services/CPlus.png"
                    class="mr-3"
                    alt="C++"
                    width="64"
                    height="64"
                  />
                  <div class="media-body">
                    <h5 class="mt-0 mb-1">C++</h5>
                    C++ is a high-level programming language developed by Bjarne
                    Stroustrup at Bell Labs. C++ adds object-oriented features to
                    its predecessor, C. C++ is one of the most popular programming
                    language for graphical applications, such as those that run in
                    Windows and Macintosh environments.
                  </div>
                </li>
                <li class="media">
                  <img
                    src="assets/Services/Java.png"
                    class="mr-3"
                    alt="Java"
                    width="64"
                    height="64"
                  />
                  <div class="media-body">
                    <h5 class="mt-0 mb-1">Java</h5>
                    Java is a high-level programming language developed by Sun
                    Microsystems. It was originally designed for developing
                    programs for set-top boxes and handheld devices, but later
                    became a popular choice for creating web applications. The
                    Java syntax is similar to C++, but is strictly an
                    object-oriented programming language.
                  </div>
                </li>
                <li class="media my-4">
                  <img
                    src="assets/Services/cSharp.png"
                    class="mr-3"
                    alt="Java"
                    width="64"
                    height="64"
                  />
                  <div class="media-body">
                    <h5 class="mt-0 mb-1">C#</h5>
                    C# is a general object-oriented programming (OOP) language for
                    networking and Web development. C# is specified as a common
                    language infrastructure (CLI) language. ... Its NET framework
                    promotes multiple Web technologies. The term is sometimes
                    spelled as C Sharp or C-Sharp.
                  </div>
                </li>
                <li class="media">
                  <img
                    src="assets/Services/Sql.png"
                    class="mr-3"
                    alt="Java"
                    width="64"
                    height="64"
                  />
                  <div class="media-body">
                    <h5 class="mt-0 mb-1">SQl</h5>
                    SQL is Structured Query Language, which is a computer language
                    for storing, manipulating and retrieving data stored in a
                    relational database. SQL is the standard language for
                    Relational Database System. or C-Sharp.
                  </div>
                </li>
                <li class="media my-4">
                  <img
                    src="assets/Services/javascript.png"
                    class="mr-3"
                    alt="Java"
                    width="64"
                    height="64"
                  />
                  <div class="media-body">
                    <h5 class="mt-0 mb-1">JavaScript</h5>
                    JavaScript® (often shortened to JS) is a lightweight,
                    interpreted, object-oriented language with first-class
                    functions, and is best known as the scripting language for Web
                    pages, but it's used in many non-browser environments as well.
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!--Second Collpsable button-->
      <div>
        <br />
        <h2>Platforms</h2>
        <p>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#collapseExample1"
            aria-expanded="false"
            aria-controls="collapseExample1"
          >
            <i class="fas fa-eye"></i> Show All
          </button>
        </p>
        <div class="collapse" id="collapseExample1">
          <div class="card card-body">
            <div>
              <!-- Platform Div-->
              <br />
              <ul class="list-unstyled">
                <li class="media">
                  <img
                    src="assets/Services/NetBeans.png"
                    class="mr-3"
                    alt="C"
                    width="64"
                    height="64"
                  />
                  <div class="media-body">
                    <h5 class="mt-0 mb-1">NetBeans</h5>
                    NetBeans is an open-source integrated development environment
                    (IDE) for developing with Java, PHP, C++, and other
                    programming languages. NetBeans is also referred to as a
                    platform of modular components used for developing Java
                    desktop applications.
                  </div>
                </li>
                <li class="media my-4">
                  <img
                    src="assets/Services/Eclipse.png"
                    class="mr-3"
                    alt="C++"
                    width="64"
                    height="64"
                  />
                  <div class="media-body">
                    <h5 class="mt-0 mb-1">Eclipse</h5>
                    Eclipse is an integrated development environment (IDE) used in
                    computer programming, and is the most widely used Java IDE. It
                    contains a base workspace and an extensible plug-in system for
                    customizing the environment.
                  </div>
                </li>
                <li class="media">
                  <img
                    src="assets/Services/AndroidStudio.jpg"
                    class="mr-3"
                    alt="Java"
                    width="64"
                    height="64"
                  />
                  <div class="media-body">
                    <h5 class="mt-0 mb-1">Android Studio</h5>
                    Android Studio is the official integrated development
                    environment (IDE) for Google's Android operating system, built
                    on JetBrains' IntelliJ IDEA software and designed specifically
                    for Android development.
                  </div>
                </li>
                <li class="media my-4">
                  <img
                    src="assets/Services/VisualStudio.png"
                    class="mr-3"
                    alt="Java"
                    width="64"
                    height="64"
                  />
                  <div class="media-body">
                    <h5 class="mt-0 mb-1">Visual Studio</h5>
                    The Visual Studio integrated development environment is a
                    creative launching pad that you can use to edit, debug, and
                    build code, and then publish an app. An integrated development
                    environment (IDE) is a feature-rich program that can be used
                    for many aspects of software development.
                  </div>
                </li>
                <li class="media">
                  <img
                    src="assets/Services/SqlServer.png"
                    class="mr-3"
                    alt="Java"
                    width="64"
                    height="64"
                  />
                  <div class="media-body">
                    <h5 class="mt-0 mb-1">SQl Server</h5>
                    Microsoft SQL Server is a relational database management
                    system, or RDBMS, that supports a wide variety of transaction
                    processing, business intelligence and analytics applications
                    in corporate IT environments.
                  </div>
                </li>
                <li class="media my-4">
                  <img
                    src="assets/Services/Anaconda.png"
                    class="mr-3"
                    alt="Java"
                    width="64"
                    height="64"
                  />
                  <div class="media-body">
                    <h5 class="mt-0 mb-1">Anaconda</h5>
                    Anaconda is a free and open-source distribution of the Python
                    and R programming languages for scientific computing (data
                    science, machine learning applications, large-scale data
                    processing, predictive analytics, etc.), that aims to simplify
                    package management and deployment.
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>